.Site {
  text-align: center;
  display:block;
  position: relative;
  top: 0px;
  .img{
    display: block;
    position: absolute;
    top: 100px;
    left: 100px;  
  }
}
.App {
  text-align: center;
  display:block;
  position: relative;
  top: 350px;
  /* background-color: red; */
}

